# –ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –º–µ—Ç–æ–¥–æ–º –∑–∞–ø—Ä–æ—Å–æ–≤ SQL

***–¶–µ–ª–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è:***

* –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Ç–æ–≥–æ —á—Ç–æ–±—ã —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞
* –ò–∑—É—á–∏—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö –∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–æ–≤ –∫–Ω–∏–≥.

***–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö***

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

<h1>–°–æ<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#–ò–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ-–±–∏–±–ª–∏–æ—Ç–µ–∫" data-toc-modified-id="–ò–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ-–±–∏–±–ª–∏–æ—Ç–µ–∫-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>–ò–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –±–∏–±–ª–∏–æ—Ç–µ–∫</a></span></li><li><span><a href="#–ò–∑—É—á–µ–Ω–∏–µ-–æ–±—â–µ–π-–∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏" data-toc-modified-id="–ò–∑—É—á–µ–Ω–∏–µ-–æ–±—â–µ–π-–∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>–ò–∑—É—á–µ–Ω–∏–µ –æ–±—â–µ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏</a></span></li><li><span><a href="#–ó–∞–¥–∞–Ω–∏—è" data-toc-modified-id="–ó–∞–¥–∞–Ω–∏—è-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>–ó–∞–¥–∞–Ω–∏—è</a></span><ul class="toc-item"><li><span><a href="#–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ,-—Å–∫–æ–ª—å–∫–æ-–∫–Ω–∏–≥-–≤—ã—à–ª–æ-–ø–æ—Å–ª–µ-1-—è–Ω–≤–∞—Ä—è-2000-–≥–æ–¥–∞;" data-toc-modified-id="–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ,-—Å–∫–æ–ª—å–∫–æ-–∫–Ω–∏–≥-–≤—ã—à–ª–æ-–ø–æ—Å–ª–µ-1-—è–Ω–≤–∞—Ä—è-2000-–≥–æ–¥–∞;-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;</a></span></li><li><span><a href="#–î–ª—è-–∫–∞–∂–¥–æ–π-–∫–Ω–∏–≥–∏-–ø–æ—Å—á–∏—Ç–∞–π—Ç–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–∏-—Å—Ä–µ–¥–Ω—é—é-–æ—Ü–µ–Ω–∫—É;" data-toc-modified-id="–î–ª—è-–∫–∞–∂–¥–æ–π-–∫–Ω–∏–≥–∏-–ø–æ—Å—á–∏—Ç–∞–π—Ç–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–∏-—Å—Ä–µ–¥–Ω—é—é-–æ—Ü–µ–Ω–∫—É;-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;</a></span></li><li><span><a href="#–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ-–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,-–∫–æ—Ç–æ—Ä–æ–µ-–≤—ã–ø—É—Å—Ç–∏–ª–æ-–Ω–∞–∏–±–æ–ª—å—à–µ–µ-—á–∏—Å–ª–æ-–∫–Ω–∏–≥-—Ç–æ–ª—â–µ-50-—Å—Ç—Ä–∞–Ω–∏—Ü-‚Äî-—Ç–∞–∫-–≤—ã-–∏—Å–∫–ª—é—á–∏—Ç–µ-–∏–∑-–∞–Ω–∞–ª–∏–∑–∞-–±—Ä–æ—à—é—Ä—ã;" data-toc-modified-id="–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ-–∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ,-–∫–æ—Ç–æ—Ä–æ–µ-–≤—ã–ø—É—Å—Ç–∏–ª–æ-–Ω–∞–∏–±–æ–ª—å—à–µ–µ-—á–∏—Å–ª–æ-–∫–Ω–∏–≥-—Ç–æ–ª—â–µ-50-—Å—Ç—Ä–∞–Ω–∏—Ü-‚Äî-—Ç–∞–∫-–≤—ã-–∏—Å–∫–ª—é—á–∏—Ç–µ-–∏–∑-–∞–Ω–∞–ª–∏–∑–∞-–±—Ä–æ—à—é—Ä—ã;-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;</a></span></li><li><span><a href="#–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ-–∞–≤—Ç–æ—Ä–∞-—Å-—Å–∞–º–æ–π-–≤—ã—Å–æ–∫–æ–π-—Å—Ä–µ–¥–Ω–µ–π-–æ—Ü–µ–Ω–∫–æ–π-–∫–Ω–∏–≥-‚Äî-—É—á–∏—Ç—ã–≤–∞–π—Ç–µ-—Ç–æ–ª—å–∫–æ-–∫–Ω–∏–≥–∏-—Å-50-–∏-–±–æ–ª–µ–µ-–æ—Ü–µ–Ω–∫–∞–º–∏;" data-toc-modified-id="–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ-–∞–≤—Ç–æ—Ä–∞-—Å-—Å–∞–º–æ–π-–≤—ã—Å–æ–∫–æ–π-—Å—Ä–µ–¥–Ω–µ–π-–æ—Ü–µ–Ω–∫–æ–π-–∫–Ω–∏–≥-‚Äî-—É—á–∏—Ç—ã–≤–∞–π—Ç–µ-—Ç–æ–ª—å–∫–æ-–∫–Ω–∏–≥–∏-—Å-50-–∏-–±–æ–ª–µ–µ-–æ—Ü–µ–Ω–∫–∞–º–∏;-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;</a></span></li><li><span><a href="#–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ-—Å—Ä–µ–¥–Ω–µ–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–æ—Ç-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,-–∫–æ—Ç–æ—Ä—ã–µ-–ø–æ—Å—Ç–∞–≤–∏–ª–∏-–±–æ–ª—å—à–µ-50-–æ—Ü–µ–Ω–æ–∫." data-toc-modified-id="–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ-—Å—Ä–µ–¥–Ω–µ–µ-–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ-–æ–±–∑–æ—Ä–æ–≤-–æ—Ç-–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,-–∫–æ—Ç–æ—Ä—ã–µ-–ø–æ—Å—Ç–∞–≤–∏–ª–∏-–±–æ–ª—å—à–µ-50-–æ—Ü–µ–Ω–æ–∫.-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.</a></span></li></ul></li></ul></div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ó–¥–æ—Ä–æ–≤–æ, –∫–æ–≥–¥–∞ –µ—Å—Ç—å –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ –≤ —Å–∞–º –ø—Ä–æ–µ–∫—Ç, –∫–∞–∂–¥—ã–π —Å–º–æ–∂–µ—Ç –±—ã—Å—Ç—Ä–µ–µ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ –∫–æ–Ω—Ü–µ–ø—Ü–∏–∏ / –¥–µ—Ç–∞–ª—è—Ö —Ä–∞–±–æ—Ç—ã. 

</div>

## –ò–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã 
db_config = {'user': 'praktikum_student', # –∏–º—è–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
             'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net', 'port': 6432,# –ø–æ—Ä—Ç–ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
             'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],  db_config['pwd'],  
                                                         db_config['host'],  db_config['port'],  
                                                         db_config['db'])

In [3]:
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ö–æ–Ω–Ω–µ–∫—à–Ω –≥–æ—Ç–æ–≤, —Ç–µ–ø–µ—Ä—å –º–æ–∂–µ–º –¥–µ–ª–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã üòä
</div>

## –ò–∑—É—á–µ–Ω–∏–µ –æ–±—â–µ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏

In [4]:
books = '''SELECT * FROM books LIMIT 5'''
pd.io.sql.read_sql(books, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [5]:
authors = '''SELECT * FROM authors LIMIT 5'''
pd.io.sql.read_sql(authors, con = engine)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [6]:
ratings = '''SELECT * FROM ratings LIMIT 5'''
pd.io.sql.read_sql(ratings, con = engine)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [7]:
reviews = '''SELECT * FROM reviews LIMIT 5'''
pd.io.sql.read_sql(reviews, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [8]:
publishers = '''SELECT * FROM publishers LIMIT 5'''
pd.io.sql.read_sql(publishers, con = engine)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

–ò—Ç–æ–≥–æ, —É –Ω–∞—Å –µ—Å—Ç—å 5 —Ç–∞–±–ª–∏—Ü: `books`, `authors`, `ratings`, `reviews` –∏ `publishers`. –í –∫–∞–∂–¥–æ–π –∏–∑ —Ç–∞–±–ª–∏—Ü —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö –∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–æ–≤ –∫–Ω–∏–≥. –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö —Å–æ–¥–µ—Ä–∂–∏—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü–µ –±—Ä–∏—Ñ–∞.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>
    
–¢–∞–±–ª–∏—á–∫–∏ –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏, —Ç–µ–ø–µ—Ä—å –º–æ–∂–µ–º –ø—Ä–∏—Å—Ç—É–ø–∏—Ç—å –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –∑–∞–¥–∞–Ω–∏–π.

–ö—Å—Ç–∞—Ç–∏ –ø–æ–ª—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ –¥–µ–ª–∞—Ç—å —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º: 
    
`pd.read_sql(query, con)`

</div>

## –ó–∞–¥–∞–Ω–∏—è

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

In [9]:
task_1 = '''
SELECT COUNT(publication_date)
FROM books
WHERE publication_date >= '2000-01-01'
'''
books_released = pd.io.sql.read_sql(task_1, con = engine)
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞: {:.0f}'.format(books_released.iloc[0][0]))

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞: 821

–ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 821 –∫–Ω–∏–≥.

<div class="alert alert-warning">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

<s>–û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —è–∑—ã–∫ `SQL` —Ä–∞–±–æ—Ç–∞–µ—Ç –≤ —Å—Ç—Ä–æ–≥–æ–º —Ñ–æ—Ä–º–∞—Ç–µ –ø—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –ª–æ–≥–∏—á–µ—Å–∫–∏—Ö —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–π `>` –∏ –ø—Ä–æ—á–∏—Ö –∑–Ω–∞–∫–æ–≤.
    
–í –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ, —á—Ç–æ–±—ã –Ω–µ —Ç–µ—Ä—è—Ç—å –ª–∏—à–Ω–∏–µ –¥–∞–Ω–Ω—ã–µ –Ω–∞–º —Å—Ç–æ–∏—Ç —É–∫–∞–∑–∞—Ç—å `>=`, —Ö–æ—Ç—å –∏ —Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∫–∞ –Ω–µ–º–Ω–æ–≥–æ –Ω–µ—Ç–æ—á–Ω–∞—è –≤ –Ω–∞—à–µ–º –∑–∞–¥–∞–Ω–∏–∏.

    
–û—Å—Ç–∞–≤–∏–ª –ø—Ä–∏–º–µ—Ä –Ω–∏–∂–µ.
    
</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü–æ–ø—Ä–∞–≤–∏–ª–∞.</div>

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ (2):</b>

–°—É–ø–µ—Ä üòäüëç

</div>

In [10]:
task_1 = '''
SELECT COUNT(publication_date)
FROM books
WHERE publication_date >= '2000-01-01'
'''
books_released = pd.io.sql.read_sql(task_1, con = engine)
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞: {:.0f}'.format(books_released.iloc[0][0]))

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥, –≤—ã—à–µ–¥—à–∏—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞: 821

### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;

In [11]:
task_2 = '''
SELECT books.title AS book_title,
    AVG (ratings.rating) AS avg_rating,
    COUNT (DISTINCT reviews.review_id) AS cnt_review
FROM books 
    INNER JOIN ratings ON ratings.book_id = books.book_id 
    INNER JOIN reviews ON reviews.book_id = ratings.book_id
GROUP BY books.book_id
ORDER BY cnt_review DESC, avg_rating DESC
'''

avg_rating = pd.io.sql.read_sql(task_2, con = engine)
avg_rating.head(10)

                                          book_title  avg_rating  cnt_review
0                            Twilight (Twilight  #1)    3.662500           7
1  Harry Potter and the Prisoner of Azkaban (Harr...    4.414634           6
2  Harry Potter and the Chamber of Secrets (Harry...    4.287500           6
3                                     The Book Thief    4.264151           6
4                                   The Glass Castle    4.206897           6
5                The Hobbit  or There and Back Again    4.125000           6
6                          Outlander (Outlander  #1)    4.125000           6
7  The Curious Incident of the Dog in the Night-Time    4.081081           6
8  The Lightning Thief (Percy Jackson and the Oly...    4.080645           6
9                                Water for Elephants    3.977273           6

In [22]:
# task_2_1 = '''
# SELECT title, avg_rating, cnt_review 
# FROM books
# LEFT JOIN (SELECT ratings.book_id,
#     AVG (ratings.rating) AS avg_rating
#     FROM ratings
#     GROUP BY ratings.book_id) AS sub_1 ON books.book_id = sub_1.book_id     
# LEFT JOIN (SELECT reviews.book_id,
#     COUNT (reviews.text) AS cnt_review
#     FROM reviews
#     GROUP BY reviews.book_id) AS sub_2 ON books.book_id = sub_2.book_id 
# ORDER BY cnt_review DESC LIMIT 10
# '''

# avg_rating_2 = pd.io.sql.read_sql(task_2_1, con = engine)
# avg_rating_2.head(10)

In [13]:
pd.read_sql("""
SELECT b.title, q1.reviews_count, q2.average_rating 
FROM books b
    LEFT JOIN (SELECT book_id, count(text) as reviews_count 
               FROM reviews GROUP BY book_id) as q1 ON b.book_id = q1.book_id
    LEFT JOIN (SELECT book_id, avg(rating) as average_rating 
               FROM ratings GROUP BY book_id) as q2 ON b.book_id = q2.book_id
""", con = engine)

,title,reviews_count,average_rating
0,The Body in the Library (Miss Marple #3),2.0,4.500000
1,Gal√°pagos,2.0,4.500000
2,A Tree Grows in Brooklyn,5.0,4.250000
3,Undaunted Courage: The Pioneering First Missio...,2.0,4.000000
4,The Prophet,4.0,4.285714
...,...,...,...
995,Alice in Wonderland,4.0,4.230769
996,A Woman of Substance (Emma Harte Saga #1),2.0,5.000000
997,Christine,3.0,3.428571
998,The Magicians' Guild (Black Magician Trilogy #1),2.0,3.500000
999,The Plot Against America,2.0,3.000000

–ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –≤—ã—à–ª–æ –ø–æ –∫–Ω–∏–≥–µ Twilight - 7. –ü—Ä–∏ —ç—Ç–æ–º —Ä–µ–π—Ç–∏–Ω–≥ —É —ç—Ç–æ–π –∫–Ω–∏–≥–∏ –Ω–∏–∂–µ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö —Å –±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ–±–∑–æ—Ä–æ–≤ - –≤—Å–µ–≥–æ 3,66.

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;

In [14]:
task_3 = '''
SELECT publisher AS publisher_name,
    COUNT (books.book_id) AS cnt_books
FROM books 
    INNER JOIN publishers ON books.publisher_id = publishers.publisher_id
WHERE books.num_pages > 50
GROUP  BY publisher
ORDER  BY cnt_books DESC
'''

publisher_most_books = pd.io.sql.read_sql(task_3, con = engine)
publisher_most_books
print('–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ', publisher_most_books.iloc[0, 0], '–≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ -', 
      publisher_most_books.iloc[0, 1], '—à—Ç. —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.'  )

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ - 42 —à—Ç. —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.

–õ–∏–¥–∏—Ä—É—é—â–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü  —è–≤–ª—è–µ—Ç—Å—è –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books - –Ω–∞ –µ–≥–æ —Å—á–µ—Ç—É 42 –≤—ã–ø—É—â–µ–Ω–Ω—ã–µ –∫–Ω–∏–≥–∏.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–æ –≤–µ—Ä–Ω–æ üëç
    
–ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –∫–ª—é—á–µ–≤—ã–µ —Å–ª–æ–≤–∞ —è–∑—ã–∫–∞ `SQL` –æ—Ç–æ–±—Ä–∞–∂–∞–µ—à—å –≤ –≤–µ—Ä—Ö–Ω–µ–º —Ä–µ–≥–∏—Å—Ç—Ä–µ, —Ç–∞–∫ –±—ã—Å—Ç—Ä–µ–µ –ø–æ–Ω—è—Ç—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É –∑–∞–ø—Ä–æ—Å–∞.
    

    
</div>

###  –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

In [15]:
task_4 = '''
SELECT authors.author AS author_name,
AVG(r.average_rating) as avg_rating
FROM books 
INNER JOIN (SELECT book_id, COUNT(rating) AS cnt,
             AVG(rating) AS average_rating
      FROM ratings
      GROUP BY book_id) AS r
ON r.book_id = books.book_id
INNER JOIN authors ON authors.author_id = books.author_id
WHERE r.cnt >= 50
GROUP BY author_name
ORDER BY avg_rating DESC
LIMIT 1
'''

auth_books_avg_rating = pd.io.sql.read_sql(task_4, con = engine)
print('–ê–≤—Ç–æ—Ä -', auth_books_avg_rating.iloc[0,0], '—Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥:',
      auth_books_avg_rating.iloc[0,1] )

–ê–≤—Ç–æ—Ä - J.K. Rowling/Mary GrandPr√© —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥: 4.283844038868471

–ê–≤—Ç–æ—Ä - J.K. Rowling/Mary GrandPr√© —è–≤–ª—è–µ—Ç—Å—è –∞–≤—Ç–æ—Ä–æ—Å —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥: 4.28.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ê–≤—Ç–æ—Ä –æ–ø—Ä–µ–¥–µ–ª–µ–Ω –≤–µ—Ä–Ω–æ üëç
    
   
</div>

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [16]:
task_5 = '''
SELECT
    AVG(sub.cnt_text)
FROM
(SELECT 
   reviews.username,
   COUNT(DISTINCT reviews.text) AS cnt_text,
   COUNT(DISTINCT ratings.book_id) AS cnt_book
FROM reviews
     INNER JOIN ratings ON ratings.username = reviews.username
GROUP BY
   reviews.username
HAVING
   COUNT(DISTINCT ratings.book_id)>50) AS sub
'''

avg_cnt_reviews = pd.io.sql.read_sql(task_5, con = engine)
avg_cnt_reviews.head(10)
print('–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ —Ä–∞–≤–Ω–æ:', 
      avg_cnt_reviews.iloc[0][0])

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ —Ä–∞–≤–Ω–æ: 24.333333333333332

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ —Ä–∞–≤–Ω–æ: 24.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ —Ç–æ–∂–µ –ø–æ—Å—á–∏—Ç–∞–ª–∏ –≤–µ—Ä–Ω–æ.
    
–û—Å—Ç–∞–≤–∏–ª –Ω–∏–∂–µ –ø—Ä–∏–º–µ—Ä, –∫–∞–∫ —ç—Ç–æ –º–æ–∂–Ω–æ –±—ã–ª–æ —Å–¥–µ–ª–∞—Ç—å –µ—â–µ.
    
</div>

In [17]:
pd.read_sql("""
SELECT avg(count) 
FROM (SELECT username, count(text) 
        FROM reviews re WHERE re.username in (
                    SELECT r.username FROM ratings r 
                    GROUP BY r.username
                    HAVING count(r.rating) > 50)
GROUP BY username) as counts
""", con = engine)

         avg
0  24.333333

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

       
–í —Ü–µ–ª–æ–º —Å–∞–º –ø—Ä–æ–µ–∫—Ç –≤—ã–ø–æ–ª–Ω–µ–Ω –Ω–∞ —Ö–æ—Ä–æ—à–µ–º —É—Ä–æ–≤–Ω–µ! –¢–µ–ø–µ—Ä—å –º—ã –∑–Ω–∞–µ–º –º–Ω–æ–≥–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å `SQL` –≤ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–∏ `python` –∏ —ç—Ç–æ –æ—Ç–ª–∏—á–Ω–æ, –ø–æ—Ç–æ–º—É —á—Ç–æ –º—ã –±—É–¥–µ–º –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —á–∞—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤ –Ω–∞—à–µ–π –ø—Ä–∞–∫—Ç–∏–∫–µ.
    
    
–ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å —É—Å–ø–µ—à–Ω—ã–º –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º –ø—Ä–æ–µ–∫—Ç–∞ üòäüëç
    
–ò –∂–µ–ª–∞—é —É—Å–ø–µ—Ö–æ–≤ –≤ –Ω–æ–≤—ã—Ö —Ä–∞–±–æ—Ç–∞—Ö üòä
    
–ü–æ–ª–µ–∑–Ω—ã–µ —Å—Å—ã–ª–∫–∏ –ø–æ SQL:
    
https://habr.com/ru/post/268983/
    
https://habr.com/ru/post/340460/

    
    
</div>